@font-face {
    font-family: 'RoundsNeue';
    src: url('roundsneue.woff2') format('woff2');
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('futuramedium.woff2') format('woff2');
}

@font-face {
    font-family: 'GothicA1';
    src: url('gothica1.woff2') format('woff2');
}
